body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 60px auto 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 220px;
    max-height: 60px;
}

.nav__menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav__menu_link {
    text-decoration: none;
    color: black;
}

.nav__menu_link:last-child {
    margin-right: 0;
}


.btn-request {
    font-family: 'Space Grotesk', sans-serif;
    padding: 20px 35px;
    background-color: white;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    border-radius: 14px;
}

.navigating-digital {
    display: flex;
    justify-content: space-between;
}

.navigating-digital__text {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.navigating-digital__text_title {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 35px;
}

.navigating-digital__text_content {
    margin-bottom: 35px;
}


.navigating-digital__banner {
    max-width: 600px;
    max-height: 515px;
}

.btn-book-consultation {
    font-family: 'Space Grotesk', sans-serif;
    padding: 20px 35px;
    background-color: black;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    border-radius: 14px;
    width: 260px;
}


.companies {
    display: flex;
    justify-content: space-between;
}

.companies__logo {
    max-width: 125px;
    max-height: 50px;
}

.services {

}

.row-information {
    margin-top: 140px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.row-information__title {
    font-size: 40px;
    font-weight: 500;
    background-color: #B9FF66;
    color: black;
    display: inline-block;
    padding: 5px;
    border-radius: 7px;
    text-align: center;
    margin-right: 40px;
}

.row-information__subtitle {
    font-size: 18px;
    max-width: 580px;
}

.services__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.services__items_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    padding: 50px;
    border-radius: 50px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 6px solid #000;
    border-left: 2px solid #000;
    background-color: #F3F3F3;
}

.services__items_text {
    display: flex;
    flex-direction: column;
}

.services__items_titles {
    margin-bottom: 95px;
}

.services__items_title {
    display: inline;
    margin: 0;
    font-size: 30px;
    background-color: #B9FF66;
    border-radius: 7px;
}


.services__item-learn-more {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.services__item-learn-more-link {
    text-decoration: none;
    color: black;
}

.services__item-learn-more-image {
    max-width: 40px;
    max-height: 40px;
}

.services__items_banner {
    max-width: 210px;
    max-height: 165px;
}

.about {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F3F3;
    border-radius: 45px;
    width: 1240px;
    height: 340px;
    margin-top: 60px;
}

.about__information {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 230px;
    margin: 55px;
}

.about__title {
    font-size: 30px;
}

.about__text {
    margin-bottom: 26px;
}

.about__link {
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    background-color: #191A23;
    border-radius: 14px;
    max-width: 250px;
    max-height: 70px;
    padding: 20px 35px;
    cursor: pointer;
}

.about__banner {
    position: absolute;
    top: -20px;
    right: 135px;
    bottom: -20px;
    max-width: 500px;
    max-height: 400px;
}

.case-studies__columns {
    background-color: #191A23;
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 70px;
}

.case-studies__columns_title {
    color: white;
    margin-bottom: 20px;
}

.case-studies__learn-more {
    margin-top: 20px;
}

.case-studies__learn-more-link {
    text-decoration: none;
    color: #B9FF66;
    cursor: pointer;
    margin-right: 15px;
}

.case-studies__learn-more-image {
    max-width: 25px;
    max-height: 15px;
}

.vertical-line {
    width: 1px;
    height: 186px;
    background-color: white;
    margin: 0 64px;
}

.work-process__items {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.work-process__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F3F3;
    border-radius: 45px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 6px solid #000;
    border-left: 2px solid #000;
    padding: 30px 50px;
}


.work-process__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-process__number {
    font-size: 60px;
    font-weight: 500;
    margin-right: 25px;
}

.work-process__open-link {
    max-width: 25px;
    max-height: 25px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 16px;
    cursor: pointer;
}
